.main {
  color: @main-text;
  text-align: center;
  text-transform: uppercase;
  background: url("../img/main-bg.jpg") no-repeat center center;
  background-size: cover;
  animation-name: main-anim;
  animation-duration: 5.0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-fill-mode: forwards;

  .row {
    min-height: 370px;
  }

  &-text {
    margin: 0;
    font-size: 16px;
  }

  &-title {
    font-size: 72px;
  }
}

@keyframes main-anim {
  0% {
    opacity:0;
  }
  10% {
    opacity:1;
  }
  90% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .main-title {
    font-size: 30px;
  }
}